.ft {
    -webkit-mask-image: url("../assets/images/mask-ellipse-footer.png");
    mask-image: url("../assets/images/mask-ellipse-footer.png");
    -webkit-mask-size: calc(100% + 80rem) calc(100% + 20rem);
    mask-size: calc(100% + 80rem) calc(100% + 20rem);
    mask-position: rop;
    -webkit-mask-position: top;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: $primaryColor;

    padding: 9.6rem 0;
    padding-top: 16rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;

    &-label {
        font-weight: 700;
        margin-bottom: 3.6rem;
    }
    

    &-item {
        &-link {
            padding: 0.7rem 0;
            flex-wrap: nowrap;
            align-items: center;

            &:hover {
                @include min(1201px) {
                    .txt {
                        color: $secColor;
                    }
                }
            }

            .icon {
                width: 4.4rem;
                height: 4.4rem;
                @include mid-flex();
                border-radius: 50%;
                background-color: $secColor;
                flex-shrink: 0;
                margin-right: 1.6rem;

                img {
                    width: 2rem;
                    height: 2rem;
                    object-fit: contain;
                }
            }

            .txt {
                transition: 0.3s;
                max-width: 25.8rem;
            }
        }
    }

    &-fanpage {
        display: block;

        img {
            vertical-align: middle;
        }
    }

    &-mid {
        margin: 4rem 0;
        padding: 2.4rem 0;
        border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
    }

    &-social {
        .ft-label {
            margin-bottom: 0;
            margin-right: 1rem;
        }

        .social {
            &-item {
                margin-right: 1.2rem;
                margin-bottom: 1.2rem;

                &-link {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
        }
    }

    &-bottom {
        @include mid-flex();
    }

    &-signature {
        @include mid-flex();
        transition: 0.3s;
        max-width: 18rem;
        margin: 0 auto;

        &:hover {
            @include min(1201px) {
                filter: drop-shadow(0.2rem 0.2rem 0.5rem $secColor);
                -webkit-filter: drop-shadow(0.2rem 0.2rem 0.5rem $secColor);
            }
        }
    }
}