.lp-news {
    color: #fff;
    
    &-header {
        margin-bottom: 2.4rem;
    }

    &-tt {
        color: #fff;
    }

    &-box {
        width: calc(100% + 2.4rem);
        margin-left: -1.2rem;
        position: relative;

        .swiper-container {
            overflow: hidden;
        }
    }

    &-list {
        align-items: stretch;
    }

    &-wrap {
        height: 100%;
        display: block;

        &:hover {
            @include min(1201px) {
                .lp-news-name {
                    color: $secColor;
                }

                .lp-news-img img {
                    transform: scale(1.1);
                }
            }
        }
    }

    &-img {
        position: relative;
        padding-top: 75%;
        border-radius: 0.8rem;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0.8rem 0.8rem 2.4rem 0 rgba(0, 0, 0, 0.12);
        }
    }

    &-content {
        margin-top: 4rem;
        padding-top: 2rem;
        position: relative;
        line-height: 1.5;

        &::before, &::after {
            content: '';
            position: absolute;
            transition: 0.5s linear;
        }

        &::before {
            top: -0.5rem;
            left: 0;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: $secColor;
        }

        &::after {
            width: 100%;
            top: 0rem;
            left: 0;
            height: 0.1rem;
            background: linear-gradient(90deg, #F68C3E 0%, rgba(246, 140, 62, 0.00) 100%);
        }
    }

    &-time {
        font-size: 1.4rem;
        margin-bottom: 1.4rem;
    }

    &-name {
        font-weight: 500;
        transition: 0.3s;
        @include lc(2);
    }
}