.mask-ellipse {
    -webkit-mask-image: url("../assets/images/mask-ellipse.png");
    mask-image: url("../assets/images/mask-ellipse.png");
    // -webkit-mask-size: calc(100% + 80rem) calc(100% + 20rem);
    // mask-size: calc(100% + 80rem) calc(100% + 20rem);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    mask-position: bottom;
    -webkit-mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: $primaryColor;
}

.order-process {
    position: relative;
    z-index: 2;
    padding-top: 30rem;
    margin-top: -20rem;
    padding-bottom: 16rem;
    overflow: hidden;

    .container {
        z-index: 2;
    }

    .bg-earth {
        pointer-events: none;
        width: 90%;
        left: 50%;
        right: unset;
        transform: translate(-35%, 50%);
    }

    &-content {
        margin-top: 6.4rem;
        margin-left: -3.6rem;
    }

    &-tt {
        color: #fff;
        margin-bottom: 12.8rem;
    }

    &-list {
        align-items: stretch;
    }

    &-item {
        margin-bottom: 2.4rem;
        width: calc(100% / 4);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            z-index: 3;
            top: 0;
            left: 48%;
            transform: translate(0, calc(-100% + 2rem));
            width: calc(100% + 1.9rem);
            height: 90%;
            max-height: 8.5rem;
            background: url("../assets/images/step-group.png") no-repeat;
            background-size: 100% auto;
        }

        &:nth-child(5) {
            order: 4;

            &::before {
                content: none;
            }
        }

        &:nth-child(6) {
            order: 3;
        }

        &:nth-child(7) {
            order: 2;
        }

        &:nth-child(8) {
            order: 1;
        }

        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
            &::before {
                top: unset;
                bottom: 0;
                transform: translate(0, calc(100% - 1.7rem)) rotateX(180deg);
            }
        }

        &:nth-child(4) {
            &::before {
                content: '';
                top: 26.5rem;
                right: 0;
                width: 62%;
                height: calc(100% * 3 + 6.5rem);
                max-height: unset;
                background: url("../assets/images/step-group-2.png") no-repeat;
                background-size: cover;
            }
        }
    }

    &-wrap {
        height: 100%;
        padding: 1.6rem;
        border-radius: 12rem;
        align-items: center;
        position: relative;
        background-color: #3D7FB6;
        border: 0.1rem solid #fff;

        &::before {
            // content: "";
            // position: absolute;
            // top: 0;
            // left: 0;
            // width: 100%;
            // height: 100%;
            // border-radius: 12rem;
            // background-color: $primaryColor;
            // border: 0.1rem solid #fff;
            // opacity: 0.7;
            // background: url("../assets/images/order-process-rec.png") no-repeat;
            // background-size: cover;
        }

        .icon {
            flex-shrink: 0;
            width: 6.2rem;
            height: 6.2rem;
            border-radius: 6.2rem;
            background: $secondsColor;
            box-shadow: 0.8rem 0.8rem 2.4rem 0 rgba(0, 0, 0, 0.08);
            @include mid-flex();
            margin-right: 1.2rem;
            position: relative;
            z-index: 2;
            border: 1px solid #fff;

            img {
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
            }
        }

        .txt {
            color: #fff;
            // padding-top: 1.2rem;
            line-height: 1.2;
            position: relative;
            z-index: 2;
            flex: 1;

            .step {
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 0.8rem;
            }

            .name {
                font-weight: 700;
                @include lc(2);
            }
        }

        // .dot-c {
        //     position: absolute;
        //     top: 0;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     width: 1.4rem;
        //     height: 1.4rem;
        //     // border-radius: 50%;
        //     // border: 0.1rem solid #fff;
        //     background: url("../assets/images/dot-ellipse.png") no-repeat;
        //     background-size: cover;
        // }
    }
}