.register-form {
    position: relative;
    overflow: hidden;
    margin-top: 10rem;
    margin-bottom: 4rem;

    &-line {
        @include mid();
        width: calc(100% + 5rem);
        z-index: 1;
    }

    &-ctn {
        @include mid-flex();
        justify-content: flex-start;
        border-radius: 2.4rem;
        background: var(--background-1, #FFF);
        box-shadow: 4rem 4rem 6.4rem 0 rgba(0, 0, 0, 0.12);
        position: relative;
        z-index: 2;
        overflow: hidden;
    }
    
    &-img {
        width: calc(100% * (7 / 12));
        position: relative;
        overflow: hidden;

        &-thumb {
            padding: 1.6rem;
            max-width: 46.9rem;
            margin: 0 auto;
            position: relative;
            z-index: 2;
        }

        .decor-cir {
            position: absolute;
            width: 45rem;
            height: 45rem;
            border-radius: 50%;

            &-1 {
                background-color: $secColor;
                bottom: -70%;
                left: -30%;
            }

            &-2 {
                background-color: $primaryColor;
                bottom: -75%;
                right: 0%;
            }
        }
    }

    &-form {
        width: calc(100% * (5 / 12));
    }

    &-tt {
        @include fz-24;
        font-weight: 600;
        color: $textColor-2;
        margin-bottom: 2.4rem;
    }
}