table {
    font-size: 1.6rem;
    width: 100%;

    th {
        padding: 2rem 0;
        padding-right: 1.5rem;
        font-weight: 700;
        color: #212223;
        text-align: left;

        @media(max-width: 1200px) {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    }

    tr {
        @media(max-width: 1200px) {
            border: 2px solid rgba(0, 0, 0, 0.16);
            border-bottom: 1px solid rgba(0, 0, 0, 0.16);
            display: block;
            margin-bottom: 2rem;
        }
    }

    td {
        padding: 3.7rem 0;
        padding-right: 1.5rem;
        border-bottom: 1px solid rgba(0,0,0,0.16);
        color: $textColor;
        font-weight: 500;

        @media(max-width: 1200px) {
            font-size: 1.4rem;
            padding: 1.5rem;
            border: unset;
            border-bottom: 1px solid rgba(0,0,0,0.16);
            text-align: right;
            @include mid-flex();
            justify-content: space-between;
            -webkit-justify-content: space-between;

            &::before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
                margin-right: 2rem;
                white-space: nowrap;
            }

            .btn {
                margin-left: auto;
                font-size: 1.5rem;
            }
        }

        @media(max-width: 500px) {
            font-size: 1.3rem;

            .btn {
                font-size: 1.3rem;
            }
        }

        a {
            transition: 0.3s;

            &:hover {
                @media(min-width: 1201px) {
                    color: $primaryColor;
                }
            }
        }
    }
}

thead {
    border-bottom: 1px solid #9B9B9B;

    @media(max-width: 1200px) {
        display: none;
    }
}