
.back__to__top::after {
    color: #FEBF00;
}

.back__to__top .triangle::after {
    background: #FEBF00;
}

.lp-services-list {
    flex-wrap: nowrap;
 }

/* @media(min-width: 2000px) {
    html {
        font-size: 10px;
    }

    .hd {
        padding: 0 5rem;
    }
} */

/* @media(min-width: 2200px) {
    html {
        font-size: 80%;
    }

    .hd-menu .menu-item a {
        padding: 3.2rem 2.4rem;
    }

    .hd-logo {
        width: 30rem;
    }
}

@media(min-width: 2500px) {
    html {
        font-size: 100%;
    }
} */

/* @media(max-width: 1580px) {
    html {
        font-size: 9px;
    }

    .hd-menu .menu-item a,
    .hd.small .hd-menu .menu-item a {
        padding: 2.4rem;
    }

    .hd-logo {
        width: 25rem;
    }

    .hd {
        padding: 0 4.2rem;
    }

    .hd-controls {
        margin-left: 3.2rem;
    }
} */

/* @media(max-width: 1200px) {
    .hd {
        padding: 0;
    }

    .hd.small .hd-logo {
        width: 20rem;
    }

    .hd-menu .menu-item a, 
    .hd.small .hd-menu .menu-item a {
        padding: 1rem 1.5rem;
    }
}

@media(min-width: 1201px) {
    .back__to__top:hover::after {
        color: #830009;
    }

    .back__to__top:hover .triangle::after {
        background: #830009;
    }
} */

