@{
    if(Model.Type == 1){
        <div class="mask-ani show"></div>

        <div id="trang-chu" class="banner">
            <div class="banner-slide">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./CSSLEPHUONGNEW/assets/images/banner-lephuong.jpg" alt="" class="img-ani">

                            <div class="banner-content">
                                <div class="container">
                                    <div class="content">
                                        <div class="banner-tt">
                                            <h1 class="title" data-aos="fade-up" data-aos-delay="1000">
                                                Le Phuong Logistics
                                            </h1>
                                        </div>
                                        <div class="banner-desc">
                                            <p data-aos="fade-up" data-aos-delay="1000">
                                                Lê Phương Logistics chuyên cung cấp các dịch vụ như Order Taobao, 1688, Tmall, Alibaba, đăt hàng qua Wechat, săn sales Zara, Hm, Bershka, Lining
                                            </p>
                                        </div>
                                        <div class="banner-btn" data-aos="fade-up" data-aos-delay="1000">
                                            <a href="#" class="btn">
                                                <span class="icon">
                                                    <img src="./CSSLEPHUONGNEW/assets/images/icon-order.png" alt="">
                                                </span>
                                                <span class="txt">
                                                    Tạo đơn hàng
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagin d-flex f-center"></div>
            </div>

            <div class="banner-lephuong">
                <div class="banner-lephuong-img">
                    <img src="./CSSLEPHUONGNEW/assets/images/banner-lephuong.jpg" alt="">
                </div>
            </div>
        </div>

        <section id="gioi-thieu" class="section order-process mask-ellipse titleJS">
            <div class="container">
                <div class="order-process-tt sec-tt-ani add-active-js sec-tt txt-center sec-tt-ani">
                    <h2>
                        Quy trình đặt hàng
                    </h2>
                </div>
                <div class="order-process-content" data-aos="fade-up">
                    <div class="order-process-list d-flex f-ctn">
                        <div class="order-process-item col">
                            <div class="order-process-wrap d-flex">
                                <div class="icon">
                                    <img src="./CSSLEPHUONGNEW/assets/images/iconshopping-list.png" alt="">
                                </div>
                                <div class="txt">
                                    <div class="step">
                                        Bước 1
                                    </div>
                                    <div class="name">
                                        Đặt hàng
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-process-item col">
                            <div class="order-process-wrap d-flex">
                                <div class="icon">
                                    <img src="./CSSLEPHUONGNEW/assets/images/icon-box.png" alt="">
                                </div>
                                <div class="txt">
                                    <div class="step">
                                        Bước 2
                                    </div>
                                    <div class="name">
                                        Đóng gói hàng hoá
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-process-item col">
                            <div class="order-process-wrap d-flex">
                                <div class="icon">
                                    <img src="./CSSLEPHUONGNEW/assets/images/icon-box.png" alt="">
                                </div>
                                <div class="txt">
                                    <div class="step">
                                        Bước 3
                                    </div>
                                    <div class="name">
                                        Vận chuyển nội địa
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-process-item col">
                            <div class="order-process-wrap d-flex">
                                <div class="icon">
                                    <img src="./CSSLEPHUONGNEW/assets/images/icon-box.png" alt="">
                                </div>
                                <div class="txt">
                                    <div class="step">
                                        Bước 4
                                    </div>
                                    <div class="name">
                                        Kho Trung Quốc
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-process-item col">
                            <div class="order-process-wrap d-flex">
                                <div class="icon">
                                    <img src="./CSSLEPHUONGNEW/assets/images/icon-box.png" alt="">
                                </div>
                                <div class="txt">
                                    <div class="step">
                                        Bước 5
                                    </div>
                                    <div class="name">
                                        Vận chuyển Việt Nam
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-earth">
                <img src="./CSSLEPHUONGNEW/assets/images/global-earth.png" alt="">
            </div>
        </section>

        <section class="section order-app">
            <div class="container">
                <div class="order-app-ctn d-flex f-ctn">
                    <div class="order-app-col col col-7">
                        <div class="order-app-img" data-aos="fade-left">
                            <img src="./CSSLEPHUONGNEW/assets/images/Banner-Tool-2.png" alt="">
                        </div>
                    </div>
                    <div class="order-app-col col col-5">
                        <div class="order-app-content">
                            <div class="order-app-tt add-active-js sec-tt">
                                <h2>Công cụ đặt hàng</h2>
                            </div>
                            <div class="order-app-list" data-aos="fade-up">
                                <div class="order-app-label">Đặt hàng trên trình duyệt</div>

                                <div class="order-app-item d-flex f-ctn">
                                    <div class="item col">
                                        <a href="#" class="item-link d-flex">
                                            <span class="icon">
                                                <img src="./CSSLEPHUONGNEW/assets/images/icon-chrome.png" alt="">
                                            </span>
                                            <span class="name">Chrome</span>
                                        </a>
                                    </div>
                                    <div class="item col">
                                        <a href="#" class="item-link d-flex">
                                            <span class="icon">
                                                <img src="./CSSLEPHUONGNEW/assets/images/icon-cococ.png" alt="">
                                            </span>
                                            <span class="name">COCCOC</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="section-group">
            <section class="section we-activity">
                <div class="container">
                    <div class="we-activity-tt sec-tt sec-tt-ani add-active-js txt-center">
                        <h2>
                            Chúng tôi đã hoạt động
                        </h2>

                        <span class="title-ani title-ani-left">
                            <div class="title-ani-wrap">
                                <span class="title-ani-line"></span>
                                <span class="title-ani-dot"></span>
                            </div>
                        </span>
                        <span class="title-ani title-ani-right">
                            <div class="title-ani-wrap">
                                <span class="title-ani-line"></span>
                                <span class="title-ani-dot"></span>
                            </div>
                        </span>
                    </div>

                    <div class="we-activity-img">
                        <div class="img">
                            <img src="./CSSLEPHUONGNEW/assets/images/Boxs.png" alt="">
                        </div>

                        <div class="we-activity-content">
                            <div class="we-activity-list">
                                <div class="we-activity-item">
                                    <div class="num">
                                        <div class="countNum">7353</div>
                                        <div class="icon">+</div>
                                    </div>
                                    <div class="name">
                                        Đơn thanh toán hộ
                                    </div>
                                </div>
                                <div class="we-activity-item">
                                    <div class="num">
                                        <div class="countNum">2459</div>
                                        <div class="icon">+</div>
                                    </div>
                                    <div class="name">
                                        Đơn hàng mỗi ngày
                                    </div>
                                </div>
                                <div class="we-activity-item">
                                    <div class="num">
                                        <div class="countNum">10,000</div>
                                        <div class="icon">+</div>
                                    </div>
                                    <div class="name">
                                        Dịch vụ đổi tệ
                                    </div>
                                </div>
                                <div class="we-activity-item">
                                    <div class="num">
                                        <div class="countNum">5632</div>
                                        <div class="icon">+</div>
                                    </div>
                                    <div class="name">
                                        Đơn ký gửi
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section lp-services section-bg">
                <div class="container">
                    <div class="lp-services-header txt-center">
                        <div class="lp-services-tt sec-tt-ani add-active-js sec-tt">
                            <h2>Dịch vụ</h2>

                            <span class="title-ani title-ani-left">
                                <div class="title-ani-wrap">
                                    <span class="title-ani-line"></span>
                                    <span class="title-ani-dot"></span>
                                </div>
                            </span>
                            <span class="title-ani title-ani-right">
                                <div class="title-ani-wrap">
                                    <span class="title-ani-line"></span>
                                    <span class="title-ani-dot"></span>
                                </div>
                            </span>
                        </div>
                        <div class="lp-services-desc sec-desc" data-aos="fade-up">
                            <p>Lê Phương Logistics cung cấp đa dạng đường hàng với mục tiêu tối ưu hóa các phương án vận chuyển một cách hợp lý nhất có thể</p>
                        </div>
                    </div>

                    <div class="lp-services-content swiper-general">
                        <div class="swiper-container">
                            <div class="lp-services-list swiper-wrapper d-flex f-ctn">
                                <div class="lp-services-item swiper-slide col col-3">
                                    <div class="lp-services-wrap">
                                        <div class="num">
                                            01
                                        </div>
                                        <div class="content">
                                            <div class="name">
                                                Dịch vụ đặt hàng
                                            </div>
                                            <div class="desc">
                                                Lê Phương Logistics cung cấp dịch vụ đặt hàng trên tất cả các trang thương mại điện tử Trung Quốc như Taobao, 1688, Tmall,...
                                            </div>
                                        </div>
                                        <div class="btnn">
                                            <a href="#" class="btn">Xem chi tiết</a>
                                        </div>

                                    </div>
                                    <div class="shape"></div>
                                </div>
                                <div class="lp-services-item swiper-slide col col-3">
                                    <div class="lp-services-wrap">
                                        <div class="num">
                                            02
                                        </div>
                                        <div class="content">
                                            <div class="name">
                                                Dịch vụ ký gửi
                                            </div>
                                            <div class="desc">
                                                Lê Phương Logistics cung cấp đa dạng đường hàng với mục tiêu tối ưu hóa các phương án vận chuyển một cách hợp lý nhất có thể. Hiện nay đường bộ là phương án công ty đang triển khai chính với các đường hàng chủ đạo như Thương Mại Điện Tử, Tiếu Ngạch và Chính Ngạch
                                            </div>
                                        </div>
                                        <div class="btnn">
                                            <a href="#" class="btn">Xem chi tiết</a>
                                        </div>

                                    </div>
                                    <div class="shape"></div>
                                </div>
                                <div class="lp-services-item swiper-slide col col-3">
                                    <div class="lp-services-wrap">
                                        <div class="num">
                                            03
                                        </div>
                                        <div class="content">
                                            <div class="name">
                                                Thanh toán hộ
                                            </div>
                                            <div class="desc">
                                                Thanh toán hộ của Lê Phương Logistics sẽ giải quyết nỗi lo không thanh toán được đơn hàng, quá hạn mức thanh toán,... của bạn
                                            </div>
                                        </div>
                                        <div class="btnn">
                                            <a href="#" class="btn">Xem chi tiết</a>
                                        </div>

                                    </div>
                                    <div class="shape"></div>
                                </div>
                                <div class="lp-services-item swiper-slide col col-3">
                                    <div class="lp-services-wrap">
                                        <div class="num">
                                            04
                                        </div>
                                        <div class="content">
                                            <div class="name">
                                                Dịch vụ đổi tệ
                                            </div>
                                            <div class="desc">
                                                Dịch vụ đổi tệ, chuyển tiền Việt Nam - Trung Quốc uy tín, an toàn và nhanh chóng
                                            </div>
                                        </div>
                                        <div class="btnn">
                                            <a href="#" class="btn">Xem chi tiết</a>
                                        </div>

                                    </div>
                                    <div class="shape"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-earth">
                    <img src="./CSSLEPHUONGNEW/assets/images/global-earth.png" alt="">
                </div>
            </section>
        </div>

        <section class="section price-list">
            <div class="container">
                <div class="price-list-header">
                    <div class="price-list-tt sec-tt" data-aos="fade-up">
                        <h2>
                            Bảng giá đặt hàng & vận chuyển quốc tế
                        </h2>
                    </div>
                    <div class="price-list-desc sec-desc" data-aos="fade-up">
                        <p>
                            Lê Phương Logistics vận chuyển theo 3 line chính ngạch, thương mại điện tử và tiểu ngạch
                        </p>
                    </div>
                </div>
                <div class="price-list-slider">
                    <div class="price-list-slider-box">
                        <div class="swiper-container">
                            <div class="swiper-wrapper price-list-slider-flex">
                                <div class="swiper-slide price-list-slider-item" data-aos="fade-right" data-aos-delay="100">
                                    <div class="price-list-slider-wrap">
                                        <div class="num">
                                            01
                                        </div>
                                        <div class="name">
                                            Bảng giá đặt hàng Trung Quốc
                                        </div>
                                        <div class="price-btnn">
                                            <a href="#" class="view-detail">
                                                Xem chi tiết
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide price-list-slider-item" data-aos="fade-right" data-aos-delay="200">
                                    <div class="price-list-slider-wrap">
                                        <div class="num">
                                            02
                                        </div>
                                        <div class="name">
                                            Bản giá vận chuyển với khách order
                                        </div>
                                        <div class="price-btnn">
                                            <a href="#" class="view-detail">
                                                Xem chi tiết
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide price-list-slider-item" data-aos="fade-right" data-aos-delay="300">
                                    <div class="price-list-slider-wrap">
                                        <div class="num">
                                            03
                                        </div>
                                        <div class="name">
                                            Bản giá vận chuyển với khách ký gửi
                                        </div>
                                        <div class="price-btnn">
                                            <a href="#" class="view-detail">
                                                Xem chi tiết
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide price-list-slider-item" data-aos="fade-right" data-aos-delay="400">
                                    <div class="price-list-slider-wrap">
                                        <div class="num">
                                            04
                                        </div>
                                        <div class="name">
                                            Bản giá vận chuyển nội thành
                                        </div>
                                        <div class="price-btnn">
                                            <a href="#" class="view-detail">
                                                Xem chi tiết
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vehicle-ab air-plane">
                    <img src="./CSSLEPHUONGNEW/assets/images/Air-Plane.png" alt="" data-aos="fade-left">
                </div>
                <div class="vehicle-ab truck">
                    <img src="./CSSLEPHUONGNEW/assets/images/Truck.png" alt="" data-aos="fade-left">
                </div>
            </div>
        </section>

        <div class="section-group">
            <section class="section service-commit">
                <div class="container">
                    <div class="service-commit-header txt-center">
                        <div class="service-commit-tt sec-tt-ani add-active-js sec-tt">
                            <h2>
                                Cam kết dịch vụ đặt hàng
                            </h2>

                            <span class="title-ani title-ani-left">
                                <div class="title-ani-wrap">
                                    <span class="title-ani-line"></span>
                                    <span class="title-ani-dot"></span>
                                </div>
                            </span>
                            <span class="title-ani title-ani-right">
                                <div class="title-ani-wrap">
                                    <span class="title-ani-line"></span>
                                    <span class="title-ani-dot"></span>
                                </div>
                            </span>
                        </div>
                        <div class="service-commit-desc sec-desc" data-aos="fade-up">
                            <p>
                                Chúng tôi quan niệm rằng, chất lượng và dịch vụ là người bạn đồng hành của Lê Phương Logistics. Vì vậy, trong suốt hành trình 4 năm, chúng tôi luôn nỗ lực cải tiến chất lượng và dịch vụ đem đến sự hài lòng cho quý khách hàng.
                            </p>
                        </div>
                    </div>

                    <div class="service-commit-box" data-aos="fade-up">
                        <div class="swiper-container">
                            <div class="service-commit-list swiper-wrapper txt-center">
                                <div class="service-commit-item swiper-slide">
                                    <div class="service-commit-wrap">
                                        <div class="icon">
                                            <img src="./CSSLEPHUONGNEW/assets/images/service-commit-shield.png" alt="">
                                        </div>
                                        <div class="name" title="Cam kết bồi thường">
                                            Cam kết bồi thường
                                        </div>
                                        <div class="desc">
                                            Bồi thường 100% giá trị tiền hàng & phí mua hàng nếu Lê Phương Logistics đặt hàng sai hoặc đặt thiếu sản phẩm
                                        </div>
                                    </div>

                                    <div class="service-commit-item-num">
                                        <img src="./CSSLEPHUONGNEW/assets/images/service-commit-decor-1.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-commit-item swiper-slide">
                                    <div class="service-commit-wrap">
                                        <div class="icon">
                                            <img src="./CSSLEPHUONGNEW/assets/images/service-commit-user.png" alt="">
                                        </div>
                                        <div class="name" title="Cam kết hỗ trợ">
                                            Cam kết hỗ trợ
                                        </div>
                                        <div class="desc">
                                            Đội ngũ nhân viên của chúng tôi sẽ hỗ trợ mọi vấn để của Quý khách 24/7
                                        </div>
                                    </div>

                                    <div class="service-commit-item-num">
                                        <img src="./CSSLEPHUONGNEW/assets/images/service-commit-decor-2.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-commit-item swiper-slide">
                                    <div class="service-commit-wrap">
                                        <div class="icon">
                                            <img src="./CSSLEPHUONGNEW/assets/images/service-commit-box.png" alt="">
                                        </div>
                                        <div class="name" title="Thời gian vận chuyển">
                                            Thời gian vận chuyển
                                        </div>
                                        <div class="desc">
                                            Thời gian vận chuyển nhanh, ổn định từ 3 - 7 ngày
                                        </div>
                                    </div>

                                    <div class="service-commit-item-num">
                                        <img src="./CSSLEPHUONGNEW/assets/images/service-commit-decor-3.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-commit-item swiper-slide">
                                    <div class="service-commit-wrap">
                                        <div class="icon">
                                            <img src="./CSSLEPHUONGNEW/assets/images/service-commit-shield.png" alt="">
                                        </div>
                                        <div class="name" title="Cam kết bồi thường">
                                            Cam kết bồi thường
                                        </div>
                                        <div class="desc">
                                            Bồi thường 100% giá trị tiền hàng & phí mua hàng nếu Lê Phương Logistics đặt hàng sai hoặc đặt thiếu sản phẩm
                                        </div>
                                    </div>

                                    <div class="service-commit-item-num">
                                        <img src="./CSSLEPHUONGNEW/assets/images/service-commit-decor-4.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-commit-item swiper-slide">
                                    <div class="service-commit-wrap">
                                        <div class="icon">
                                            <img src="./CSSLEPHUONGNEW/assets/images/service-commit-user.png" alt="">
                                        </div>
                                        <div class="name" title="Cam kết hỗ trợ">
                                            Cam kết hỗ trợ
                                        </div>
                                        <div class="desc">
                                            Đội ngũ nhân viên của chúng tôi sẽ hỗ trợ mọi vấn để của Quý khách 24/7
                                        </div>
                                    </div>

                                    <div class="service-commit-item-num">
                                        <img src="./CSSLEPHUONGNEW/assets/images/service-commit-decor-5.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-commit-item swiper-slide">
                                    <div class="service-commit-wrap">
                                        <div class="icon">
                                            <img src="./CSSLEPHUONGNEW/assets/images/service-commit-box.png" alt="">
                                        </div>
                                        <div class="name" title="Thời gian vận chuyển">
                                            Thời gian vận chuyển
                                        </div>
                                        <div class="desc">
                                            Thời gian vận chuyển nhanh, ổn định từ 3 - 7 ngày
                                        </div>
                                    </div>

                                    <div class="service-commit-item-num">
                                        <img src="./CSSLEPHUONGNEW/assets/images/service-commit-decor-6.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="register-form" data-aos="fade-up">
                <div class="container">
                    <div class="register-form-ctn">
                        <div class="register-form-img">
                            <div class="register-form-img-thumb">
                                <img src="./CSSLEPHUONGNEW/assets/images/register-form-img.png" alt="">
                            </div>

                            <div class="decor-cir decor-cir-1 cir cir-2"></div>
                            <div class="decor-cir decor-cir-2 cir cir-2"></div>
                        </div>
                        <div class="register-form-content">
                            <div class="register-form-tt">
                                Đăng ký nhận ngay mã giảm giá
                            </div>

                            <form action="#" class="form-cus">
                                <div class="f-r d-flex f-ctn">
                                    <div class="f-c col col-6">
                                        <input type="text" placeholder="Họ và Tên" class="form-cus-ipt">
                                    </div>
                                    <div class="f-c col col-6">
                                        <input type="text" placeholder="Số điện thoại" class="form-cus-ipt">
                                    </div>
                                </div>
                                <div class="f-r d-flex f-ctn">
                                    <div class="f-c col col-12">
                                        <input type="email" placeholder="Email" class="form-cus-ipt">
                                    </div>
                                </div>
                                <div class="f-r d-flex f-ctn">
                                    <div class="f-c col col-12">
                                        <textarea name="" id="" placeholder="Nội dung" class="form-cus-txtarea"></textarea>
                                    </div>
                                </div>
                                <div class="f-r d-flex f-ctn">
                                    <div class="f-c col col-12">
                                        <input type="submit" value="Đăng ký ngay" class="btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="register-form-line">
                    <img src="./CSSLEPHUONGNEW/assets/images/form-line.png" alt="">
                </div>
            </div>

            <section class="section lp-news">
                <div class="container">
                    <div class="lp-news-header txt-center">
                        <div class="lp-news-tt sec-tt-ani add-active-js sec-tt">
                            <h2>Tin tức</h2>

                            <span class="title-ani title-ani-left">
                                <div class="title-ani-wrap">
                                    <span class="title-ani-line"></span>
                                    <span class="title-ani-dot"></span>
                                </div>
                            </span>
                            <span class="title-ani title-ani-right">
                                <div class="title-ani-wrap">
                                    <span class="title-ani-line"></span>
                                    <span class="title-ani-dot"></span>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="lp-news-box swiper-general">
                        <div class="swiper-container">
                            <div class="lp-news-list swiper-wrapper">
                                <div class="lp-news-item col col-4 swiper-slide" data-aos="fade-up" data-aos-delay="100">
                                    <a href="#" class="lp-news-wrap">
                                        <div class="lp-news-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/lp-news-1.jpg" alt="">
                                        </div>
                                        <div class="lp-news-content">
                                            <div class="lp-news-time">
                                                20 Tháng 6, 2023
                                            </div>
                                            <div class="lp-news-name">
                                                Có nên mua đế tản nhiệt laptop? Order đế tản nhiệt laptop Trung Quốc trên TMĐT
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="lp-news-item col col-4 swiper-slide" data-aos="fade-up" data-aos-delay="200">
                                    <a href="#" class="lp-news-wrap">
                                        <div class="lp-news-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/lp-news-2.jpg" alt="">
                                        </div>
                                        <div class="lp-news-content">
                                            <div class="lp-news-time">
                                                20 Tháng 6, 2023
                                            </div>
                                            <div class="lp-news-name">
                                                Có nên mua đế tản nhiệt laptop? Order đế tản nhiệt laptop Trung Quốc trên TMĐT
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="lp-news-item col col-4 swiper-slide" data-aos="fade-up" data-aos-delay="300">
                                    <a href="#" class="lp-news-wrap">
                                        <div class="lp-news-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/lp-news-3.jpg" alt="">
                                        </div>
                                        <div class="lp-news-content">
                                            <div class="lp-news-time">
                                                20 Tháng 6, 2023
                                            </div>
                                            <div class="lp-news-name">
                                                Có nên mua đế tản nhiệt laptop? Order đế tản nhiệt laptop Trung Quốc trên TMĐT
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="lp-news-item col col-4 swiper-slide" data-aos="fade-up" data-aos-delay="400">
                                    <a href="#" class="lp-news-wrap">
                                        <div class="lp-news-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/lp-news-1.jpg" alt="">
                                        </div>
                                        <div class="lp-news-content">
                                            <div class="lp-news-time">
                                                20 Tháng 6, 2023
                                            </div>
                                            <div class="lp-news-name">
                                                Có nên mua đế tản nhiệt laptop? Order đế tản nhiệt laptop Trung Quốc trên TMĐT
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="lp-news-item col col-4 swiper-slide" data-aos="fade-up" data-aos-delay="500">
                                    <a href="#" class="lp-news-wrap">
                                        <div class="lp-news-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/lp-news-2.jpg" alt="">
                                        </div>
                                        <div class="lp-news-content">
                                            <div class="lp-news-time">
                                                20 Tháng 6, 2023
                                            </div>
                                            <div class="lp-news-name">
                                                Có nên mua đế tản nhiệt laptop? Order đế tản nhiệt laptop Trung Quốc trên TMĐT
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination swiper-pagin d-flex f-center"></div>
                    </div>
                </div>
            </section>

            <div class="bg-earth">
                <img src="./CSSLEPHUONGNEW/assets/images/global-earth.png" alt="">
            </div>
        </div>

        <section class="section lp-feedback">
            <div class="container">
                <div class="lp-feedback-header txt-center">
                    <div class="lp-feedback-tt sec-tt-ani add-active-js sec-tt">
                        <h2>Cảm nhận khách hàng</h2>

                        <span class="title-ani title-ani-left">
                            <div class="title-ani-wrap">
                                <span class="title-ani-line"></span>
                                <span class="title-ani-dot"></span>
                            </div>
                        </span>
                        <span class="title-ani title-ani-right">
                            <div class="title-ani-wrap">
                                <span class="title-ani-line"></span>
                                <span class="title-ani-dot"></span>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="lp-feedback-slider">
                    <div class="lp-feedback-box swiper-general">
                        <div class="swiper-container">
                            <div class="lp-feedback-list swiper-wrapper">
                                <div class="lp-feedback-item col col-3 swiper-slide" data-aos="fade-up" data-aos-delay="100">
                                    <div class="lp-feedback-wrap">
                                        <img src="./CSSLEPHUONGNEW/assets/images/lp-feedback-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="lp-feedback-item col col-3 swiper-slide" data-aos="fade-up" data-aos-delay="200">
                                    <div class="lp-feedback-wrap">
                                        <img src="./CSSLEPHUONGNEW/assets/images/lp-feedback-2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="lp-feedback-item col col-3 swiper-slide" data-aos="fade-up" data-aos-delay="300">
                                    <div class="lp-feedback-wrap">
                                        <img src="./CSSLEPHUONGNEW/assets/images/lp-feedback-3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="lp-feedback-item col col-3 swiper-slide" data-aos="fade-up" data-aos-delay="400">
                                    <div class="lp-feedback-wrap">
                                        <img src="./CSSLEPHUONGNEW/assets/images/lp-feedback-4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="lp-feedback-item col col-3 swiper-slide" data-aos="fade-up" data-aos-delay="500">
                                    <div class="lp-feedback-wrap">
                                        <img src="./CSSLEPHUONGNEW/assets/images/lp-feedback-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="lp-feedback-item col col-3 swiper-slide" data-aos="fade-up" data-aos-delay="600">
                                    <div class="lp-feedback-wrap">
                                        <img src="./CSSLEPHUONGNEW/assets/images/lp-feedback-2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination swiper-pagin d-flex f-center"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section say-us">
            <div class="container">
                <div class="say-us-header txt-center">
                    <div class="say-us-tt sec-tt-ani add-active-js sec-tt">
                        <h2>
                            Báo chí nói gì về chúng tôi
                        </h2>

                        <span class="title-ani title-ani-left">
                            <div class="title-ani-wrap">
                                <span class="title-ani-line"></span>
                                <span class="title-ani-dot"></span>
                            </div>
                        </span>
                        <span class="title-ani title-ani-right">
                            <div class="title-ani-wrap">
                                <span class="title-ani-line"></span>
                                <span class="title-ani-dot"></span>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="say-us-box swiper-general" data-aos="fade-up">
                    <div class="swiper-container">
                        <div class="say-us-list swiper-wrapper">
                            <div class="say-us-item swiper-slide col col-6">
                                <div class="say-us-item-row">
                                    <a href="#" class="say-us-wrap" target="_blank">
                                        <div class="say-us-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/say-us-1.jpg" alt="">
                                        </div>
                                        <div class="say-us-txt">
                                            <div class="say-us-logo">
                                                <img src="./CSSLEPHUONGNEW/assets/images/say-us-logo-1.png" alt="">
                                            </div>
                                            <div class="say-us-name">
                                                Đặt hàng từ Trung Quốc cùng Lê Phương Logistic
                                            </div>
                                            <div class="say-us-desc">
                                                Lorem ipsum dolor sit amet consectetur. Adipiscing aenean phasellus blandit neque amet...
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="say-us-item-row">
                                    <a href="#" class="say-us-wrap" target="_blank">
                                        <div class="say-us-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/say-us-3.jpg" alt="">
                                        </div>
                                        <div class="say-us-txt">
                                            <div class="say-us-logo">
                                                <img src="./CSSLEPHUONGNEW/assets/images/say-us-logo-3.png" alt="">
                                            </div>
                                            <div class="say-us-name">
                                                Đặt hàng từ Trung Quốc cùng Lê Phương Logistic
                                            </div>
                                            <div class="say-us-desc">
                                                Lorem ipsum dolor sit amet consectetur. Adipiscing aenean phasellus blandit neque amet...
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="say-us-item swiper-slide col col-6">
                                <div class="say-us-item-row">
                                    <a href="#" class="say-us-wrap" target="_blank">
                                        <div class="say-us-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/say-us-2.jpg" alt="">
                                        </div>
                                        <div class="say-us-txt">
                                            <div class="say-us-logo">
                                                <img src="./CSSLEPHUONGNEW/assets/images/say-us-logo-2.png" alt="">
                                            </div>
                                            <div class="say-us-name">
                                                Đặt hàng từ Trung Quốc cùng Lê Phương Logistic
                                            </div>
                                            <div class="say-us-desc">
                                                Lorem ipsum dolor sit amet consectetur. Adipiscing aenean phasellus blandit neque amet...
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="say-us-item-row">
                                    <a href="#" class="say-us-wrap" target="_blank">
                                        <div class="say-us-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/say-us-4.jpg" alt="">
                                        </div>
                                        <div class="say-us-txt">
                                            <div class="say-us-logo">
                                                <img src="./CSSLEPHUONGNEW/assets/images/say-us-logo-4.png" alt="">
                                            </div>
                                            <div class="say-us-name">
                                                Đặt hàng từ Trung Quốc cùng Lê Phương Logistic
                                            </div>
                                            <div class="say-us-desc">
                                                Lorem ipsum dolor sit amet consectetur. Adipiscing aenean phasellus blandit neque amet...
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="say-us-item swiper-slide col col-6">
                                <div class="say-us-item-row">
                                    <a href="#" class="say-us-wrap" target="_blank">
                                        <div class="say-us-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/say-us-1.jpg" alt="">
                                        </div>
                                        <div class="say-us-txt">
                                            <div class="say-us-logo">
                                                <img src="./CSSLEPHUONGNEW/assets/images/say-us-logo-1.png" alt="">
                                            </div>
                                            <div class="say-us-name">
                                                Đặt hàng từ Trung Quốc cùng Lê Phương Logistic
                                            </div>
                                            <div class="say-us-desc">
                                                Lorem ipsum dolor sit amet consectetur. Adipiscing aenean phasellus blandit neque amet...
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="say-us-item-row">
                                    <a href="#" class="say-us-wrap" target="_blank">
                                        <div class="say-us-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/say-us-3.jpg" alt="">
                                        </div>
                                        <div class="say-us-txt">
                                            <div class="say-us-logo">
                                                <img src="./CSSLEPHUONGNEW/assets/images/say-us-logo-3.png" alt="">
                                            </div>
                                            <div class="say-us-name">
                                                Đặt hàng từ Trung Quốc cùng Lê Phương Logistic
                                            </div>
                                            <div class="say-us-desc">
                                                Lorem ipsum dolor sit amet consectetur. Adipiscing aenean phasellus blandit neque amet...
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="say-us-item swiper-slide col col-6">
                                <div class="say-us-item-row">
                                    <a href="#" class="say-us-wrap" target="_blank">
                                        <div class="say-us-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/say-us-2.jpg" alt="">
                                        </div>
                                        <div class="say-us-txt">
                                            <div class="say-us-logo">
                                                <img src="./CSSLEPHUONGNEW/assets/images/say-us-logo-2.png" alt="">
                                            </div>
                                            <div class="say-us-name">
                                                Đặt hàng từ Trung Quốc cùng Lê Phương Logistic
                                            </div>
                                            <div class="say-us-desc">
                                                Lorem ipsum dolor sit amet consectetur. Adipiscing aenean phasellus blandit neque amet...
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="say-us-item-row">
                                    <a href="#" class="say-us-wrap" target="_blank">
                                        <div class="say-us-img">
                                            <img src="./CSSLEPHUONGNEW/assets/images/say-us-4.jpg" alt="">
                                        </div>
                                        <div class="say-us-txt">
                                            <div class="say-us-logo">
                                                <img src="./CSSLEPHUONGNEW/assets/images/say-us-logo-4.png" alt="">
                                            </div>
                                            <div class="say-us-name">
                                                Đặt hàng từ Trung Quốc cùng Lê Phương Logistic
                                            </div>
                                            <div class="say-us-desc">
                                                Lorem ipsum dolor sit amet consectetur. Adipiscing aenean phasellus blandit neque amet...
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-pagination swiper-pagin d-flex f-center"></div>
                </div>
            </div>

            <div class="map-bg">
                <img src="./CSSLEPHUONGNEW/assets/images/map-bg.png" alt="">
            </div>
        </section>

        <section class="section lp-partner">
            <div class="container">
                <div class="lp-partner-header txt-center">
                    <div class="lp-partner-tt sec-tt-ani add-active-js sec-tt">
                        <h2>Đối tác</h2>

                        <span class="title-ani title-ani-left">
                            <div class="title-ani-wrap">
                                <span class="title-ani-line"></span>
                                <span class="title-ani-dot"></span>
                            </div>
                        </span>
                        <span class="title-ani title-ani-right">
                            <div class="title-ani-wrap">
                                <span class="title-ani-line"></span>
                                <span class="title-ani-dot"></span>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="lp-partner-list" data-aos="fade-up">
                    <div class="lp-partner-item">
                        <div class="lp-partner-wrap">
                            <img src="./CSSLEPHUONGNEW/assets/images/lp-partner-1.png" alt="">
                        </div>
                    </div>
                    <div class="lp-partner-item">
                        <div class="lp-partner-wrap">
                            <img src="./CSSLEPHUONGNEW/assets/images/lp-partner-2.png" alt="">
                        </div>
                    </div>
                    <div class="lp-partner-item">
                        <div class="lp-partner-wrap">
                            <img src="./CSSLEPHUONGNEW/assets/images/lp-partner-3.png" alt="">
                        </div>
                    </div>
                    <div class="lp-partner-item">
                        <div class="lp-partner-wrap">
                            <img src="./CSSLEPHUONGNEW/assets/images/lp-partner-4.png" alt="">
                        </div>
                    </div>
                    <div class="lp-partner-item">
                        <div class="lp-partner-wrap">
                            <img src="./CSSLEPHUONGNEW/assets/images/lp-partner-5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else if(Model.Type == 2)
    {
        var pageTypeConent = Model.PageTypeContent;
        <div>
            @Html.Raw(pageTypeConent.Description);
        </div>
    }
    else if(Model.Type == 3)
    {
        var pageConent = Model.PageContent;
        <div>
            @Html.Raw(pageConent.PageContent);
        </div>
    }
    else
    {
        <h1>404</h1>
    }
}
