@import url("../assets/fonts/NotoSerif/stylesheet.css");
/* LIBRARIES */
@import url("../js/libs/swiper/swiper-bundle.min.css");
@import url("../js/libs/magnific/magnific-popup.min.css");
@import url("../js/libs/aos/aos.css");
@import url("../js/libs/wow/animate.min.css");

// core
@import "./core/reset.scss";
@import "./core/font.scss";
@import "./core/animation.scss";
@import "./core/mona.scss";
@import "./core/mixin.scss";
@import "./core/grid.scss";

$primaryColor: #00569F;
$secondsColor: #F68C3E;
$textColor: #171A1C;
$textColor-2: #454D54;
$textColor-3: #73808C;

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    // scroll-behavior: smooth;

    @media(min-width: 2000px) {
        font-size: 100%;
    }

    // @media(max-width: 1580px) {
    //     font-size: 8px;
    // }

    // @media(max-width: 1480px) {
    //     font-size: 7px;
    // }

    @media(max-width: 1200px) {
        font-size: 10px;
    }
}

body {
    font-family: "Noto Serif", "sans-serif";
    font-size: 1.6rem;
    color: $textColor;
    line-height: 1.2;
    overflow: hidden auto;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
    width: 7px;

    @media(max-width: 1200px) {
        width: 3px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c3c3c3;
    border-radius: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
select, input, textarea {
    font-family: "Noto Serif", "sans-serif";
    line-height: 1.2;
    font-size: 1.6rem;
    padding: 0;
    border: none;
    outline: none;
    resize: none;
    vertical-align: middle;
}

.container {
    position: relative;
    width: 100%;
    max-width: 123rem;
    height: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;

    // @media(max-width: 1580px) {
    //     max-width: 80%;
    // }

    // @media(max-width: 1368px) {
    //     max-width: 90%;
    // }

    @media(max-width: 1200px) {
        max-width: 100%;
    }

    @media(max-width: 768px) {
        padding: 0 0.8rem;
    }
}

.no-scroll {
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
}

.section {
    padding: 8rem 0;
    position: relative;

    @media(max-width: 1500px) {
        padding: 6.4rem 0;
    }

    @media(max-width: 1200px) {
        padding: 5.6rem 0;
    }

    &-bg {
        .container {
            z-index: 2;
        }

        &-img {
            position: absolute;
            z-index: 1;
            pointer-events: none;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
        }
    }
}

.sec-header {
    width: 100%;
    max-width: 78rem;
    margin: 0 auto;
    margin-bottom: 3rem;

    @include max(1200px) {
        max-width: 100%;
        margin-bottom: 2.4rem
    }
}

.sec-tt {
    @include fz-48;
    line-height: 1.5;
    font-weight: 800;
    transition: 0.3s;
    overflow: hidden;
    color: $primaryColor;
    letter-spacing: 0.5rem;
    opacity: 0.5;

    &.active {
        letter-spacing: 0;
        opacity: 1;
    }

    @media(max-width: 1200px) {
        font-size: 2.4rem;
    }

    @media(max-width: 500px) {
        font-size: 2rem;
    }

    &.sec-subtt {
        @include fz-80;
        color: $primaryColor;
    }
}

.sec-tt-ani {
    position: relative;
    max-width: max-content;
    margin: 0 auto;
    overflow: visible;
    transition: 0.7s ease-in-out;
    letter-spacing: 0.5rem;
    opacity: 0.5;

    &.active {
        

        .title-ani {
            .title-ani-wrap {
                max-width: 100%;
            }
            visibility: visible;
        }
    }

    .title-ani {
        position: absolute;
        top: 50%;
        width: 7.4rem;
        height: 0.5rem;
        transition: 0.5s linear;

        &.active {
            
        }

        .title-ani-wrap {
            position: absolute;
            transition: 0.5s ease-in-out;
            height: 100%;
            width: 100%;
            max-width: 0;
        }

        &-left {
            left: 0;
            transform: translate(calc(-100% - 1rem), -50%);

            .title-ani-wrap {
                left: 0;
            }

            .title-ani-line {
                left: 0;
            }

            .title-ani-dot {
                right: 0;
            }
        }

        &-right {
            right: 0;
            transform: translate(calc(100% + 1rem), -50%);

            .title-ani-wrap {
                right: 0;
            }

            .title-ani-line {
                right: 0;
            }

            .title-ani-dot {
                left: 0;
            }
        }

        &-line {
            position: absolute;
            width: 100%;
            height: 30%;
            top: 50%;
            transform: translateY(-50%);
            background-color: $secondsColor;
            border-radius: 0.8rem;
        }

        &-dot {
            position: absolute;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: $secondsColor;
        }
    }
}

.txt-center {
    text-align: center;
}

.sec-desc {
    color: $textColor-2;
    margin-top: 1.6rem;
    line-height: 1.5;
    overflow: hidden;

    & p {
        margin-bottom: 0.8rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.btn {
    padding: 1.6rem 1.8rem;
    border-radius: 12rem;
    width: max-content;
    background: $secColor;
    @include mid-flex();
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    z-index: 3;
    overflow: hidden;

    @include max(768px) {
        padding: 1.2rem 1.6rem;
    }

    &:hover {
        @media(min-width: 1201px) {
            background-color: $primaryColor;
        }
    }

    &[type="submit"]:hover {
        @media(min-width: 1201px) {
            background-color: $primaryColor;

            &::after {
                transform: scale(1);
                transform-origin: center left;
            }
        }
    }

    .icon {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.4rem;
    }

    &.btn-white {
        border: 1px solid $primaryColor;
        background-color: #fff;
        padding: 1.2rem 2.2rem;
        color: $primaryColor;
        line-height: 1.5;

        @include max(768px) {
            padding: 1.2rem 1.6rem;
            font-size: 1.4rem;
        }

        &:hover {
            @include min(1201px) {
                background-color: $primaryColor;
                color: #fff;
            }
        }
    }
}

.view-detail {
    color: $primaryColor;
    transition: 0.3s;
    padding-right: 2.4rem;

    &:hover {
        @include min(1201px) {
            color: $secondsColor;

            &::after {
                background: url("../assets/images/arrow-sec.png") no-repeat;
                background-size: cover;
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 1.6rem;
        height: 1.6rem;
        background: url("../assets/images/arrow-pri.png") no-repeat;
        background-size: cover;
        transition: 0.3s;
    }
}

strong {
    font-weight: 700;
}

img {
    object-fit: cover;
    // vertical-align: middle;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.dot {
    margin: 2.4rem 0;
    padding-left: 4.2rem;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0.5rem;
        left: 1.1rem;
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        border: 0.3rem solid $secColor;
    }
}

.hl-pri {
    color: $primaryColor;
    transition: 0.3s;
}

.hl-sec {
    color: $secColor;
    transition: 0.3s;
}

.fw-800 {
    font-weight: 800;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fz-32 {
    @include fz-32;
}

.hover-item {
    .name {
        transition: 0.3s;
    }

    .img {
        overflow: hidden;

        img {
            transition: 0.5s ease;
        }
    }

    span {
        display: block;
    }

    &:hover {
        @include min(1201px) {
            .name {
                color: $secColor;
            }

            .img img {
                transform: scale(1.05);
            }
        }
    }
}

.wow {
    animation-duration: 1s;
}

.scrollbar-cus {
    overflow: hidden auto;

    @include min(1201px) {
        padding-right: 0.8rem;
    }

    /* width */
    &::-webkit-scrollbar {
        width: 0.3rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #1A5492;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 0;
    }

    &.scrollbar-cus-sec {
        /* Track */
        &::-webkit-scrollbar-track {
            background: #F1F1F1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $secColor;
            border-radius: 0;
        }
    }
}

// components

@import './components/mask-ani';
@import './components/swiper';
@import './components/tab';
@import './components/pagination';
@import './components/popup';
@import './components/table';
@import './components/social-fixed';
@import './components/back-to-top.scss';
@import './components/form-cus';
@import './components/select2';
@import './components/image-split';

@import './components/header';
@import './components/banner';
@import './components/order-process';
@import './components/order-app';
@import './components/we-activity';
@import './components/lp-services';
@import './components/price-list';
@import './components/service-commit';
@import './components/register-form';
@import './components/lp-news';
@import './components/lp-feedback';
@import './components/say-us';
@import './components/lp-partner';
@import './components/footer';

// pages