.btn {
  background: $color-pri;
  padding: 8px 12px;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-second;
  }

  @media (max-width: 680px) {
    & {
      padding: 6px 12px;
    }
  }
}